@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark, sunset;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #540863;
  --color-secondary: #92487a;
  --color-base-100: #ffffff;
  --color-base-content: #19041c;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #540863;
  --color-secondary: #92487a;
  --color-base-content: #ffffff;
}
